06:00|python /home/pi/weedle/gardener/main/elements/sun/whitelightON.py
11:59|/home/pi/weedle/gardener/main/plantdiagnostic/takePlantWhitePicture.sh
12:00|python /home/pi/weedle/gardener/main/elements/sun/whitelightOFF.py
12:01|python /home/pi/weedle/gardener/main/elements/sun/redlightON.py
17:59|/home/pi/weedle/gardener/main/plantdiagnostic/takePlantRedPicture.sh
18:00|python /home/pi/weedle/gardener/main/elements/sun/redlightOFF.py
18:15|python /home/pi/weedle/gardener/main/weedleAdjustWater.py
19:00|python /home/pi/weedle/gardener/main/elements/sun/bluelightON.py
23:59|/home/pi/weedle/gardener/main/plantdiagnostic/takePlantBluePicture.sh
00:00|python /home/pi/weedle/gardener/main/elements/sun/bluelightOFF.py

