30
80
1
900
255
20
50
1
380
0
ON
ON
ON
OFF
OFF
OFF
# Format:
#    In order.. Weedle Climate THCL
#    
#    Data Set:
# Weedle THCL ++++: WTHCL
#    line 0 Weedle Climate Temperature HIGH
#    line 1 Weedle Climate Humidity Air HIGH
#    line 2 Weedle Climate Humidity Soil HIGH
#    line 3 Weedle Climate Co2 HIGH
#    line 4 Weedle Climate Luminosity HIGH 
# Weedle thcl ----: wthcl
#    line 5 Weedle Climate Temperature LOW
#    line 6 Weedle Climate Humidity Air LOW
#    line 7 Weedle Climate Humidity Soil LOW
#    line 8 Weedle Climate Co2 LOW
#    line 9 Weedle Climate Luminosity LOW
#SUNRISE
#    line 10 Weedle Climate SUNRISE RED 
#    line 11 Weedle Climate SUNRISE BLUE
#    line 12 Weedle Climate SUNRISE WHITE
#SUNSET
#    line 13 Weedle Climate SUNSET RED 
#    line 14 Weedle Climate SUNSET BLUE
#    line 15 Weedle Climate SUNSET WHITE


