# Format:
#    Option 1: <HH:MM>|<CommandON>|<DurationInSeconds>|<CommandOFF>
#    Option 2: <HH:MM>|<CommandON>
#
#  <HH:MM> is the time in 24 hours
#  <CommandON> is the command to execute when we reach the time
#  <DurationInSeconds> is the time in seconds we will wait before executing CommandOFF
#  <CommandOFF> is the command to execute after <DurationInSeconds> has passed.
#
# Note that the times should be padded with 0 when needed
#
# For example:
#   to execute the command 'echo Hello' at 5:07am you will do (note the '06')
#     05:07|echo Hello
#
#   to execute the command 'echo Goodbye' at 11:06pm:
#     23:06|echo Goodbye
#
#   to execute the command 'echo What are you smoking?' at 4:20pm
#     16:20|echo What are you smoking?5
#
#   to execute the command 'echo ON' at 11:15am, then wait 10 minutes and execute command 'echo OFF'
#     11:15|echo ON|600|echo OFF
# 
#21:35|python /home/pi/weedle/gardener/main/fakeAction.py ON|10|python /home/pi/weedle/gardener/main/fakeAction.py OFF
#23:26|echo "Water - ON"|10|echo "Water - OFF"
#23:27|echo "Getting Sensor Value and sending to the cloud"
00:|echo "Getting Sensor Value and sending to the cloud"
